<DOCTYPE html>
<html>
<head>
	<title>Optical Monitoring</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/ionicons.min.css">
	<link rel="stylesheet" type="text/css" href="css/grid.css">
	<link href="https://fonts.googleapis.com/css?family=Girassol&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
	
		

	</head>
<body>

	<header class="header">
		<nav class="navtop">
			<a href="/"><img src="img/logo.jpeg" alt="logo" class="logo"></a>
			<ul>
				<li><a href="#about">  about </a></li>
				<li><a href="#howitworks">  how it works </a></li>
				<li>
					<div class="btn">
						<a href="login">  Login </a>
					</div>
				</li>
			</ul>
		</nav>

		<div class="heading">
			<div class="heading-primary">Optical</div>
			<div class="heading-secondary">Monitoring</div>
		</div>
	</header>

	<section class="section-about" id="about">
		<div class="problem">
			<div class="problem-statement">
				<h1>Problem Statement   </h1>
				<img src="icon/confused.svg" alt="question" class="confuse">
			</div>
			<p class="problem-content">
					Eyes is one of the important facial structure in our body, without eyes we can't see this beautiful world. 
					It's our responsiblity to take care of that. 
					If we don't blink our eyes 10-15 times/minute while using PC or laptops then it gets dry. 
					Our project focus on these issue and help them to take care of that. 

					Sometime you want to focus on studies but your strain doesn't allow it. We can show them their eyes
					 behaviour timeline with a linked website with desktop application which can store the history of the
					  blinks, so that users can check it and improve accordingly. After logged in to the website they can
					   see their details as per data sent by the application.
			</p>
		</div>
		<img src="icon/question.svg" alt="question mark" class="question">

		<div class="gui">
			<img src="img/signup.png" alt="gui" class="gui-pic">
		</div>

	</section>

	<section class="how-it-works" id="howitworks">
		<div class="howitwork">
			<div class="eye-aspect-ratio">
				<h3 class="ear-font">EAR [eye aspect ratio]</h3>
				<ul class="ear">
					<li>&rarr; EAR aspect ratio is instead a much more elegant solution that involves a very simple calculation based on the ratio of distances between
						facial landmarks of the eyes.
					</li>
					<li>&rarr; Fast, efficient and easy to implement.</li>
					<li>&rarr; Based on the work by Soukupova and Cec in their 2016 paper, we can then derive an equation that reflects this relation called eye aspect ratio (EAR)</li>
					<li>&rarr; <img src="img/blink_detection_equation.png" alt="blink detection equation" class="blink_detection_equation"></li>
					<li>&rarr; Using this equation, we can avoid image processing technique & simply relay on the ratio of eye landmark distance to determine if a person is blinking.</li>
				</ul>
			</div>
			<div class="formula">

			</div>
		</div>
	</section>

	<footer>
        <div class="foot">  
			<div class="row">
				<ul class="list">
					<li><a href="#about" class="btn-foot">About us</a></li>
					<li><a href="#" class="btn-foot">Blog</a></li>
					<li><a href="#" class="btn-foot">Press</a></li>
					<li><a href="#" class="btn-foot">iOS App</a></li>
					<li><a href="#" class="btn-foot">Android App</a></li>
				</ul>
			<ul class="list-icon">
					<li><a href="#" class="btn-foot"><i class="ion-social-facebook-outline"></i></a></li>
					<li><a href="#" class="btn-foot"><i class="ion-social-twitter-outline"></i></a></li>
					<li><a href="#" class="btn-foot"><i class="ion-social-googleplus-outline"></i></a></li>
					<li><a href="#" class="btn-foot"><i class="ion-social-instagram"></i></a></li>
				</ul>
			</div>
			</div>
			<div class="row">
				<p>This webpage was created for daily PC users with HTML5 and CSS3 by NULL BYTES. So go and find a new way for your healty eyes.<br>
					Build with  in the beautiful city of Lisbon, Portugal, March 2015.</p>
			</div>
		
		</footer>
</body>


</html>